* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-bar {
  backdrop-filter: blur(4px);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 10px 8px #888888;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li {
  width: 150px;
  margin: 3px;
  padding: 12px;

}

.menu-bar ul li a {
    text-decoration: none;
    text-shadow: 2px 2px 8px #1e1e1e;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

.menu-bar .fa {
  margin-right: 8px;
}

.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover {
  background: rgba(105, 98, 98, 0.4);
  border-radius: 4px;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgba(105, 98, 98, 0.4);
  border-radius: 4px;
  margin-top: 11px;
  margin-left: -9px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 4px;
  width: 135px;
  height: 150px;
  padding: 2px;
  border-radius: 0;
  border-width: thin;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 125px;
}

.pdf {
  text-align: center;
}

.info-bar {
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
}

.info-bar ul {
  width: 30%;
  display: inline-block;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: 2px 2px 8px #1e1e1e;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  list-style: none;
}

.info-bar ul li {
  padding: 4px;
}

.project-bar {
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
  display:inline-flex;
}

.project-bar ul {
  width: 30%;
  display: inline-block;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: 2px 2px 8px #1e1e1e;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  list-style: none;
  margin: 10px;
}

.project-bar ul li {
  padding: 4px;
}

.project-bar ul li a {
  color: black;
}

body {
  background-image: url(./images/mainbackground.jpg);
  background-size: 100%;
  background-position: center;
  background-clip: border-box;

  font-family: sans-serif;
}
